@font-face {
  font-family: 'Miss_clo';
  src: url('../src/assets/Miss_clo.ttf');
}

/*.App {
  text-align: center;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  @media screen and (min-device-width: 220px) and (max-device-width: 400px)  {
    #titlebox{
      font-size: .7rem ;
    }
    #textbox{
      font-size: .8rem;
    }
    #tc{
      font-size: .8rem;
    }
    #txc{
      font-size: .6rem;
    }
  }
  @media screen and (min-device-width: 401px) and (max-device-width: 500px)  {
      #titlebox{
        font-size: .8rem ;
      }
      #tc{
        font-size: .8rem;
      }
      #txc{
        font-size: .6rem;
      }
    }
  @media screen and (min-device-width: 501px) and (max-device-width: 600px) {
      #titlebox{
        font-size: 1.2rem ;
      }
      #tc{
        font-size: 1rem;
      }
      #txc{
        font-size: .8rem;
      }
    }
    @media screen and (min-device-width: 601px) {
      #titlebox{
        font-size: 3rem ;
      }
      #textbox{
        font-size: 4rem;
      }
    }

  #titlebox{
    font-family: Miss_clo;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
 
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }